body {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */

  zoom: 2.9;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  /* min-height: 100vh; */
  background-color: #f2f2f2;
}
.container {
  text-align: center;
}
h1 {
  font-size: 24px;
  color: #333;
}
.buttons {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button {
  display: inline-block;
  margin: 15px;
  padding: 15px 30px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.button:hover {
  transform: scale(1.1);
}
.button-primary {
  background-color: #ff5722;
  border: 2px solid #ff5722;
}
.button-secondary {
  background-color: #3f51b5;
  border: 2px solid #3f51b5;
}
.button-primary:hover {
  background-color: #ff5722;
  border-color: #ff5722;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.button-secondary:hover {
  background-color: #3f51b5;
  border-color: #3f51b5;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
@media only screen and (max-width: 600px) {
  .button {
    width: 80%;
    max-width: 300px;
  }
}
